---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> Welcome to Baked By Noz</h1>
			<p>
				Handcrafted custom sugar cookies designed to make your special moments even sweeter! Based in Narara on the Central Coast, every batch is baked with love and detailed by hand.
			</p>
			<p>
				Whether you're celebrating a birthday, wedding, baby shower, or corporate event, I can create delicious theme matched cookies tailored specifically for your occasion.
			</p>
			
			<h2>Explore Our Work</h2>
			<p>
				Check out my latest sets in the <a href="/blog">Cookie Gallery</a> to get inspiration for your next set!
			</p>

			<h2>How to Order</h2>
			<p>
				Ready to bring your custom cookie ideas to life? You can email me at bakedbynoz@gmail.com or send me a DM on <a href="https://www.instagram.com/bakedbynoz" target="_blank">Instagram</a> with your event date, theme, and estimated quantity to check availability!
			</p>
		</main>
		<Footer />
	</body>
</html>
