---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to Baked By Noz!</h1>
At Baked by Noz every cookie is handcrafted with love, creativity, and the finest 
ingredients. I specialise in custom designed cookies for birthdays, weddings, 
baby showers, corporate events, holidays and every celebration in between. 
Whether you have a clear vision or need help bringing an idea to life, I am passionate about
creating beautiful cookies that taste as amazing as they look. 
Every order is made with care, because life's sweetest moments deserve something 
truly special. 
